.sidenav-container {
  height: 100%;
  color: white;
  width: 100%;
  background-image: url("../../assets/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top
}

.router {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px
}

.sidenav {
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 2, 2, 0.59)
}

.userName {
  background-color: #e9345b;
  width: 110%;
  border-radius: 5px;
  border: 0.5px solid rgb(65, 65, 65);
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-secondary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profilna {
  height: 60px;
  width: 60px;
  border-radius: 50%;

}

.lijevi {
  color: white;
  margin-left: 100px
}

.desni {
  color: white;
  float: right;
  margin-left: 95%
  
}

.ikona {
  transform: scale(2);
  color: white;
}

.margina {
  margin-right: 4px;
}

.foLogo {
  height: 35px;
  width: 35px;
}

.footer {
  width: 200px;
  position: fixed;
  bottom: 0;
  justify-content: center;
  text-align: center;
}

.username {
  margin-top: 7px;
  margin-left: 5px
}

.SideNav {
  background-color: rgba(0, 252, 113, 0);
  margin-top: 10px
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgb(255, 255, 255) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-form-field-value {
  color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-form-field-input {
  color: rgb(255, 255, 255) !important;
}

:ng-deep .mat-input-element::placeholder {
  color: rgb(255, 255, 255)
}

.logo {
  height: 70px;
  width: 70px;
  margin-top: -10px;
  transition: 0.3;

}

.selected,
.active {
  background: #ea5c2e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  color: white
}

.link:hover {
  cursor: pointer;

}

.mat-list-item {
  border-radius: 3px;

}

.tekst {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10%;
}

@media (max-width: 768px) {
  .desni {
    margin-left:auto
  }
}
.media{
  transform: scale(2)
}