 <ngb-carousel
 [showNavigationArrows]="true" 
 [showNavigationIndicators]="true"
 interval="8000"
 [keyboard]="true"
 [activeId]="'secondSlide'"
 >
    <ng-template ngbSlide id="firstSlide">
    <div class="row">
      <div class="card">
        <img src="assets/Avengers.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/Spiderman.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/Ironman.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/Manofsteel.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/BP.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/LOTR.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/Soul.jpg" alt="Angular Carousel 1">
      </div>
      <div class="card">
        <img src="assets/Maleficent.jpg" alt="Angular Carousel 1">
      </div>
    </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
        <div class="row">
            <div class="card">
              <img src="assets/Conjuring.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
              <img src="assets/Sinister.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
              <img src="assets/Dolittle.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
              <img src="assets/HarryPotter.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
              <img src="assets/Ted.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
              <img src="assets/Paul.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
                <img src="assets/Thor.jpg" alt="Angular Carousel 1">
            </div>
            <div class="card">
                <img src="assets/StarWars.jpg" alt="Angular Carousel 1">
            </div>
          </div>
    </ng-template>
  </ngb-carousel>
  
